 <head>
  <meta charset="utf-8">
  <title>RegistrationApp</title>
  <a href="#" class="logo"  style="color: red; padding-left: 50px;">Get Registered!!</a>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  

</head>

<body>


  



  <h1 >Welcome to the Registration Application!!</h1>
  
  <div class="form" >
    <input placeholder="Enter First Name" [(ngModel)]="Firstname" >
    <input placeholder="Enter Surname"  [(ngModel)]="Surname">
    <input placeholder="Enter ID" maxlength="13" [(ngModel)]="ID">
    <input placeholder="Enter Email"  maxlength="20" [(ngModel)]="Email">
    <input placeholder="Enter Contact"  maxlength="10" [(ngModel)]="Contact">
  </div>
  
    <div class="button ">

      <button (click)="addUser()" > 
      Add User
      </button>

    </div>

    <div class="button" >
        <button (click)="updateUser()">
        Update User
        </button>
      </div>


    
    
    <router-outlet></router-outlet>
  



<div *ngFor="let user of list ; let i =index">

    <p>{{user.Firstname}}</p>
    <p>{{user.Surname}}</p>
    <p>{{user.ID}}</p>
    <p>{{user.Email}}</p>
    <p>{{user.Contact}}</p>

    
    <button  (click)="deleteUser(i)">
        Delete User
        </button>
  
  <button (click)="updateUser()">
      Update User
    </button> 


       
   
  </div>

  



